/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  font-size: 14px;
}

#wrap {
   width: 100%;
}

#left_col_container {
  width: 20%;
  height: 100%;
  float: left;
}

#left_col {
  padding: 5px;
}

#right_col {
  float: right;
  width: 80%;
}

#changeset_list {
  max-height: 500px;
  overflow: auto;
  clear: both;
}

.changeset_item {
  background: #eeeeee;
  margin: 3px;
  line-height: 20px;
  padding: 5px;
}

.changeset_item_selected {
  background-color: lightblue;
  margin: 3px;
  line-height: 20px;
  padding: 5px;
}
