<html>
<head>
<title><%= @title %></title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
</head>
<body onload="init()">
<%= yield %>
</body>
</html>
