<html>
<head>
<title><%= @title %></title>
<%= javascript_include_tag "application" %>
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script src="https://raw.github.com/BorisMoore/jsrender/master/jsrender.js"></script>
</head>
<body onload="init()">
<%= yield %>
</body>
</html>
