<html>
<head>
<title><%= @title %></title>
<script src="http://matt.dev.openstreetmap.org/openlayers/OpenLayers.js"></script>
<script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
</head>
<body onload="init()">
<%= yield %>
</body>
</html>
