<script type="text/javascript">
        var lon = 5;
        var lat = 40;
        var zoom = 5;
        var map, layerBasic, layerVector;

	function setupView(){
	  map.zoomToExtent(layerVector.getDataExtent(), false);
        }

	function myFunc(ev) {
	  window.location = "../tile/" + ev.attributes["tile"];
	}

        function init(){
            map = new OpenLayers.Map ("map", {
                controls:[
                    new OpenLayers.Control.Navigation(),
                    new OpenLayers.Control.PanZoomBar(),
                    new OpenLayers.Control.Attribution(),
	            new OpenLayers.Control.LayerSwitcher()],
                maxExtent: new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34),
                maxResolution: 156543.0399,
                numZoomLevels: 19,
                units: 'm',
                projection: new OpenLayers.Projection("EPSG:900913"),
                displayProjection: new OpenLayers.Projection("EPSG:4326")
            } );

            layerBasic = new OpenLayers.Layer.OSM.Mapnik("Mapnik");
            map.addLayer(layerBasic);

            layerVector = new OpenLayers.Layer.Vector("Polygon", {
                 strategies: [new OpenLayers.Strategy.Fixed()],
                 protocol: new OpenLayers.Protocol.HTTP({
                     url: "<%= @id %>.js",
                     format: new OpenLayers.Format.GeoJSON()
                 }),
                 projection: new OpenLayers.Projection("EPSG:4326")
            });
	    layerVector.events.register("loadend", this, setupView);
            map.addLayer(layerVector);

	    var highlightControl = new OpenLayers.Control.SelectFeature(layerVector, {"hover": true, "highlightOnly": true});
	    map.addControl(highlightControl);
            highlightControl.activate();

	    var selectControl = new OpenLayers.Control.SelectFeature(layerVector, {"onSelect": myFunc});
	    map.addControl(selectControl);
            selectControl.activate();
	}
    </script>

    <div id="map" class="smallmap"></div>
<div id="links" style="background:transparent; position:absolute; margin:10px; padding:0px; right:0px; bottom:0px; z-index:1000; font-size: small;">
<a id="osm_browse" href="http://www.openstreetmap.org/browse/changeset/<%= @id %>">Browse changeset</a>
</div>

