<div id="wrap">
    <div id="left_col_container">
    <div id="left_col">
        <%= image_tag 'logo.png', :width => '128px', :style => 'float:left; padding: 5px' %>
        <br>
        <a target="_blank" style="font-weight: bold" href="http://wiki.openstreetmap.org/wiki/OWL_(OpenStreetMap_Watch_List)">OpenStreetMap Watch List</a>
        <br>
        <span style="font-size: smaller; text-align:center;">(<a target="_blank"
        href="https://github.com/ppawel/openstreetmap-watch-list/tree/resurrection">resurrection</a> branch)
        </span>
        <br><br>
        <b>BETA</b>
        <div id="changeset_list">
          <p align="center" style="color:red; text-style:sans-serif;">Data not visible at this zoom level, please zoom in to see stuff.</p>
        </div>
    </div>
    </div>
    <div id="right_col">
        <div id="map" class="smallmap"></div>
    </div>
</div>

<script id="changeset_list_template" type="text/x-jsrender">
<h3>Visible changesets <i>(limit = 100)</i> <a target="_blank" href="" id="rss_link"><%= image_tag 'feed-icon-14x14.png' %></a></h3>
<ul style="list-style-type: none; padding: 0; margin: 0">
{{for features}}
  <li class="changeset_item" id="changeset_{{:attributes.changeset_id}}">
    <a target="_blank"
    href="http://www.openstreetmap.org/browse/changeset/{{:attributes.changeset_id}}">{{:attributes.changeset_id}}</a>
    by <a target="_blank"
    href="http://www.openstreetmap.org/browse/user/{{:attributes.user_name}}">{{:attributes.user_name}}</a>
    <br>
    <span style="font-size: 12px; color: gray">{{:attributes.created_at}} | change count: {{:attributes.num_changes}}</span>
  </li>
{{/for}}
</ul>
</script>
