var MIN_ZOOM_LEVEL = 10;
var lon = 5;
var lat = 40;
var zoom = 5;
var map, layerBasic, layerVector, browseBoxControl;

function setupView(){
  map.zoomToExtent(layerVector.getDataExtent(), false);
}

function showFeaturePopup(e) {
  $('li[class="changeset_item_selected"]').attr('class', 'changeset_item');
  $('li[id="changeset_' + e.feature.data.changeset_id +'"]').attr('class', 'changeset_item_selected');
  //    $('#visstatus').scrollTo('li[id="changeset_' + e.feature.data.changeset_id +'"]');
}

function hideFeaturePopup(e) {
  $('li[class="changeset_item_selected"]').attr('class', 'changeset_item');
}

function zoomEvent() {
  var vis = map.getZoom() > MIN_ZOOM_LEVEL;
  layerVector.setVisibility(vis);
  //document.getElementById("visstatus").style.visibility = vis ? "hidden" : "visible";
  if (!vis) {
    $("#changeset_list").html('<p align="center" style="color:red; text-style:sans-serif;">Data not visible at this zoom level, please zoom in to see stuff.</p>');
  }
}

// liberally stolen from osm.org
function updateLocation() {
  var lonlat = map.getCenter().transform(map.getProjectionObject(), map.displayProjection);
  var zoom = map.getZoom();
  var expiry = new Date();

  expiry.setYear(expiry.getFullYear() + 10);
  var cookie_string = "_owl_location=" + lonlat.lon + "|" + lonlat.lat + "|" + zoom + "; expires=" + expiry.toGMTString();
  document.cookie = cookie_string;
}

// liberally stolen from OpenCycleMap. thanks, Andy!
function readCookie(name) {
  var nameEQ = name + "=";
  var ca = document.cookie.split(';');
  for(var i=0;i < ca.length;i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') c = c.substring(1,c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
  }
  return null;
}

// liberally stolen from OpenCycleMap. thanks, Andy!
function setCentreFromCookie() {
  var centre = new OpenLayers.LonLat(-1.85, 53.8);
  var zoom = 6;
  var cookietext = readCookie('_owl_location');
  if (cookietext) {
    var cb = cookietext.split('|');
    centre = new OpenLayers.LonLat(cb[0], cb[1]);
    zoom = cb[2];
    }
  map.setCenter(centre.transform(map.displayProjection, map.getProjectionObject()), zoom);
}

function getChangesetIdFromElement(el) {
  var el_id = $(el).attr('id');

  if(!el_id) {
    el_id = $(el.parentElement).attr('id');
  }

  return parseInt(el_id.replace('changeset_', ''));
}

function init(){
  map = L.map('map').setView([51.505, -0.09], 13);

  // Set up map and location tracking in hash.
  if (location.hash && location.hash.indexOf('#') === 0) {
      var e = location.hash.substring(1).split('/');
      if (e.length == 3) {
          map.setView(
              new L.LatLng(parseFloat(e[0]), parseFloat(e[1])),
              parseFloat(e[2]));
      }
  }
  map.on('moveend', function() {
      var c = map.getCenter();
      location.hash = c.lat + '/' + c.lng + '/' + map.getZoom();
  });

  L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 18
  }).addTo(map);

  var geojsonURL = 'changesets/{z}/{x}/{y}.geojson';
  var geojsonLayer = new L.TileLayer.GeoJSON(geojsonURL, {
    tileSize: 256,
    unloadInvisibleTiles: true
    });

  geojsonLayer.setGeoJSONOptions({
      pointToLayer: function(featureData, latlng) {},
      /* style of GeoJSON feature */
      style: {
          "color": "yellow",
          "fillColor": "yellow",
          "weight": 8,
          "opacity": 0.75,
          "fillOpacity": 0.75
      },
      /* style of GeoJSON feature when hovered */
      hoverStyle: {
          "color": "blue",
          "opacity": 0.2,
          "fillOpacity": 0.2
      },
      hoverOffset: new L.Point(30,-16)
  });

  geojsonLayer.on('load', function(e) {
    var changesetIds = new Array();
    var features = new Array();

    for (var id in e.target._geoJSONFeatures) {
      var changeset_id = e.target._geoJSONFeatures[id].properties['changeset_id'];

      if (changesetIds.indexOf(changeset_id) == -1) {
        features.push(e.target._geoJSONFeatures[id]);
        changesetIds.push(changeset_id);
      }
    }

    $("#changeset_list").html($("#changeset_list_template").render({"features": features}));
  });

  geojsonLayer.on('loading', function(e) {
    $("#changeset_list").html('<%= image_tag "ajax-loader.gif" %>');
  });

  map.addLayer(geojsonLayer);

/*
  map = new OpenLayers.Map ("map", {
      controls:[
          new OpenLayers.Control.Navigation(),
          new OpenLayers.Control.PanZoomBar(),
          new OpenLayers.Control.Attribution(),
          new OpenLayers.Control.Permalink(),
          new OpenLayers.Control.MousePosition(),
          new OpenLayers.Control.LayerSwitcher()],
      maxExtent: new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34),
      maxResolution: 156543.0399,
      numZoomLevels: 19,
      units: 'm',
      projection: new OpenLayers.Projection("EPSG:900913"),
      displayProjection: new OpenLayers.Projection("EPSG:4326")
  } );

  layerBasic = new OpenLayers.Layer.OSM();
  map.addLayer(layerBasic);

  var strategy = new OpenLayers.Strategy.Tiles({resFactor: 1, ratio: 1});

  layerVector = new OpenLayers.Layer.Vector("Polygon (Forever)", {
       strategies: [strategy],
       protocol: new OpenLayers.Protocol.HTTP({
           url: "changesets.geojson",
           format: new OpenLayers.Format.GeoJSON()
       }),
       projection: new OpenLayers.Projection("EPSG:4326"),
       displayProjection: new OpenLayers.Projection("EPSG:900913"),
       styleMap: new OpenLayers.StyleMap({
         "default": {'strokeWidth': 8, 'strokeColor': "yellow", 'strokeOpacity': 0.66, pointRadius: 3, fillColor: "yellow"},
         "highlight": {'strokeWidth': 8, 'strokeColor': "blue", pointRadius: 3, fillColor: "yellow"}
       }),
       visibility: false
  });
  map.addLayer(layerVector);

  var highlightControl = new OpenLayers.Control.SelectFeature(layerVector,
      { "hover": true,
        "highlightOnly": true,
        "renderIntent": "highlight",
        "eventListeners": {
                    featurehighlighted: showFeaturePopup,
                    featureunhighlighted: hideFeaturePopup
                }});

  map.addControl(highlightControl);
  highlightControl.activate();

  layerVector.events.on({
    'loadstart': function(obj) {
      $("#changeset_list").html('<%= image_tag "ajax-loader.gif" %>');
    },

    'loadend': function(obj) {
      if (map.getZoom() > MIN_ZOOM_LEVEL) {
        $("#changeset_list").html($("#changeset_list_template").render(obj.object));

        var bbox = map.getExtent().transform('EPSG:900913', 'EPSG:4326').toBBOX(10, false);
        $("#rss_link").attr('href', 'changesets.rss?bbox=' + bbox);

        $(".changeset_item").on('hover', function(e) {
          if (e.type == 'mouseenter') {
            // Highlight row in the list.
            $(e.target).attr('class', 'changeset_item_selected');
          } else if (e.type == 'mouseleave') {
            $('li[class="changeset_item_selected"]').attr('class', 'changeset_item');
          }

          // Highlight geometry.
          var changeset_id = getChangesetIdFromElement(e.target);
          var features = layerVector.getFeaturesByAttribute('changeset_id', changeset_id);
          if (features.length > 0) {
            if (e.type == 'mouseenter') {
              highlightControl.select(features[0]);
            } else if (e.type == 'mouseleave') {
              highlightControl.unselect(features[0]);
            }
          }
        });

        $(".changeset_item").on('click', function(e) {
          // Zoom to geometry.
          var changeset_id = getChangesetIdFromElement(e.target);
          var features = layerVector.getFeaturesByAttribute('changeset_id', changeset_id);
          if (features.length > 0) {
            var dataExtent = features[0].geometry.getBounds();
            map.zoomToExtent(dataExtent, closest=true);
          }
        });
      }
    }
  }

  );

  map.events.register("zoomend", this, zoomEvent);
  map.events.register("moveend", map, updateLocation);

  if (!map.getCenter()) setCentreFromCookie();*/
}
